<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.NavigatorProject.DAO.IRailwayLineDAO">
	<resultMap id="RailwayLineResultMap" type="com.solvd.NavigatorProject.models.transport.RailwayLine">
		<id property="id" column="id"></id>
		<result property="name" column="name"></result>
	</resultMap>

	<select id="getEntities" resultMap="RailwayLineResultMap">
	<![CDATA[
		SELECT * FROM Railway_Lines;
	]]>
	</select>
	
	<select id="getEntity" resultMap="RailwayLineResultMap">
	<![CDATA[
		SELECT * FROM Railway_Lines WHERE id = #{id};
	]]>
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO Railway_Lines(name) VALUES (#{name});
	]]>
	</insert>
	
	<update id="update">
	<![CDATA[
		UPDATE Railway_Lines SET name = #{name} WHERE id = #{id};
	]]>
	</update>
	
	<delete id="delete">
	<![CDATA[
		DELETE FROM Railway_Lines WHERE id = #{id};
	]]>
	</delete>	
	
		<select id="getRailwayLinesByRouteId" resultMap="RailwayLineResultMap">
	<![CDATA[
		SELECT rl.* FROM Railway_Line_Routes rlr inner join Railway_Lines rl ON rlr.railway_line_id = rl.id WHERE route_id = #{id};
	]]>
	</select>
</mapper>
