<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.NavigatorProject.DAO.IStationDAO">
	<resultMap id="StationResultMap" type="com.solvd.NavigatorProject.models.location.Station">
		<id property="id" column="id"></id>
		<result property="name" column="name"></result>
		<result property="latitude" column="x"></result>
		<result property="longitude" column="y"></result>
		<result property="addressId" column="address_id"></result>
	</resultMap>

	<select id="getEntities" resultMap="StationResultMap">
	<![CDATA[
		SELECT *, ST_X(coordinates) as x, ST_Y(coordinates) as y FROM Stations;
	]]>
	</select>
	
	<select id="getEntity" resultMap="StationResultMap">
	<![CDATA[
		SELECT *, ST_X(coordinates) as x, ST_Y(coordinates) as y FROM Stations WHERE id = #{id};
	]]>
	</select>
	
	<select id="getStationByCoordinate" resultMap="StationResultMap">
	<![CDATA[
		SELECT *, ST_X(coordinates) as x, ST_Y(coordinates) as y FROM Stations WHERE coordinates = POINT(#{latitude},#{longitude});
	]]>
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO Stations(name,coordinates,address_id) VALUES (#{name},POINT(#{latitude},#{longitude}),#{addressId});
	]]>
	</insert>
	
	<update id="update">
	<![CDATA[
		UPDATE Stations SET name = #{name}, coordinates = POINT(#{latitude},#{longitude}), address_id = #{addressId} WHERE id = #{id};
	]]>
	</update>
	
	<delete id="delete">
	<![CDATA[
		DELETE FROM Stations WHERE id = #{id};
	]]>
	</delete>	
</mapper>
